{% extends 'crmapp/base.html' %}


{% block content %}

<div class="container">
  <button  class="btn-primary text-light mb-3"><a class="text-light "href="{% url 'customernew' %}">Add Customer</a></button>

</div>

<div class="container  bg-info">


{% if customerslist %}

<table class="table ">
    <thead class="thead-dark">
  <tr>
    <th class="text-center">Customer</th>
    <th class="text-center">CR</th>
    <th class="text-center">Creation Date</th>
  </tr>
  {% for customer in customerslist %}
  <tr>
  <td class="border text-center"><a href="{% url 'customerdetail' pk=customer.id %}" class="text-white">{{customer.customername}}</a></td>
  <td class="border text-center">{{customer.cr}}</td>
  <td class="border text-center">{{customer.creationdate}}</td>
  </tr>
  {% endfor %}
</table>

{% endif %}

</div>



  {% endblock %}
