{% extends 'crmapp/base.html' %}


{% block content %}



<div class="container mt-5">


<button  class="btn-primary text-light"><a class="text-light "href="{% url 'ordernew' %}">New order</a></button>


{% if orderlist %}

<table class="table mt-5">
    <thead class="thead-dark">
  <tr>
    <th class="text-center">Order No</th>
    <th class="text-center">Opportunity</th>
    <th class="text-center">Date</th>
    <th class="text-center">Status</th>
    <th class="text-center">Service</th>
    <th class="text-center">Executive</th>


  </tr>
  {% for order in orderlist %}
  <tr>
  <td class="border text-center"><a href="{% url 'orderdetail' pk=order.id %}">{{order.orderno}}</a></td>
  <td class="border text-center"><a href="{% url 'opportunitydetail' pk=order.opportunity.id %}">{{order.opportunity}}</a></td>
  <td class="border text-center">{{order.creationdate}}</td>
  <td class="border text-center">{{order.status}}</td>
  <td class="border text-center">{{order.service}}</td>
  <td class="border text-center">{{order.operationexecutive}}</td>

  </tr>
  {% endfor %}
</table>

{% endif %}

</div>



  {% endblock %}
