{% extends 'crmapp/base.html' %}

{% block content %}




  <br>
  <div class="container">

<h5>Order No : {{order.orderno}}</h5>
<th class="text-center"></th>

    <table class="table mt-5">
        <thead class="thead-dark">
      <tr>

        <th class="text-center">Opportunity</th>
        <th class="text-center">Date</th>
        <th class="text-center">Status</th>
        <th class="text-center">Service</th>
        <th class="text-center">Executive</th>


      </tr>

      <tr>
      <td class="border text-center">{{order.opportunity}}</td>
      <td class="border text-center">{{order.creationdate}}</td>
      <td class="border text-center">{{order.status}}</td>
      <td class="border text-center">{{order.service}}</td>
      <td class="border text-center">{{order.operationexecutive}}</td>

      </tr>

    </table>

    <button type="button" class="btn btn-link"><a href="{% url 'orderupdate' pk=order.id %}">Update</a></button>
    <br>
    {% if order.status|stringformat:"s"  == 'Open' or order.status|stringformat:"s"  == 'Held'%}
    <button type="button" class="btn btn-link"><a href="{% url 'changetopost' pk=order.id %}">Change To Post</a></button>
    {% endif %}
    {% if order.status|stringformat:"s"  == 'Operation Validation' %}
    <button type="button" class="btn btn-link"><a href="{% url 'cancel' pk=order.id %}">Change To Cancel </a></button>
    {% endif %}
    <br>
    {% if order.status|stringformat:"s"  == 'Operation Validation' %}
    <button type="button" class="btn btn-link"><a href="{% url 'open' pk=order.id %}">Change To Open </a></button>
    {% endif %}
    <br>
    {% if order.status|stringformat:"s"  == 'Open' %}
    <button type="button" class="btn btn-link"><a href="{% url 'held' pk=order.id %}">Change To Held </a></button>
    {% endif %}
</div>

{% endblock %}
